$color-green: #4b9200;
$color-orange: #f9804b;
$color-orange-grad: #fed290;
$color-yellow: #ffee2e;
$color-red: #d31414;
$color-black-blue: #333b41;
$color-gray: #767474;
$color-gray-smoky: #ababab;
$color-light-gray: #f1f3f2;
$color-frosted-glass-white: #fdfdff;
$color-black: #000;
$color-white: #fff;
$default-transition: all 0.25s;
$main-font-family: "Roboto";
