.header {
  background-color: $color-black;
  color: $color-white;
  padding: 14px 0;

  &__container {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 63px;
    display: inline-block;
    transition: $default-transition;

    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 58px;
    list-style: none;
    font-weight: 500;
    line-height: 140%;
  }

  &__link {
    margin: 0;
    padding: 0;
    color: $color-white;
    text-decoration: none;
    transition: $default-transition;

    &:hover {
      color: $color-orange;
    }

    &--active {
      @extend .header__link;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: $color-orange;
        border-radius: 3px;
      }
    }
  }
}
