.hero {
  padding: 86px 0 100px 0;
  background-color: $color-black-blue;
  background-image: url(./../assets/images/bg-last.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;

  .hero__content {
    margin-left: auto;
    position: relative;
    max-width: 500px;
    text-align: center;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 465px;
      height: 465px;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      border-radius: 50%;
      z-index: -1;
      top: -15%;
      left: -14.5%;
    }
  }
  .hero__heading {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;

    span {
      color: #ffee2e;
    }
  }
}
